$nav-height: 4em;
$nav-padding: 2em;
$nav-padding-mobile: 0.25em;
$nav-link-margin: 2.25em;

$background-color-nav: #0a1a35;
$content-color: #1047a0;

$color-blue-black: #020c1c;
$color-blue-darker: #01122d;
$color-blue-dark: #002054; //rgb(0, 32, 84);
$color-blue-mid: #0a3477;
$color-blue-light: #1047a0;

$color-grey-silver: #9ba9c1; //rgb(155, 169, 193);
$color-grey-light: #c6c6d1;

$color-white-off: #fcfcfc;

$color-light-black: #171f2b;
